*{margin:0;padding:0;}
body{
	height: 100%;
}
.logo{
	text-decoration: none;
	color: black;
	font-size: 30px;
	font-family: "Microsoft Yahei";
	float: left;
	line-height: 70px;
}
.nav{
	width: auto;
	height:70px;
	background-color: #ffffff;
	box-shadow: 0px 1px 5px #888888;
}
.menu{
	list-style:none;

}

.menu li{
	float: left;
	width:140px;
	text-align: center;
	font-family: "Microsoft Yahei";
	font-size: 18px;
	line-height: 70px;		      
}
.menu a:link,.menu a:visited{
	text-decoration: none;
	color: black;
}
.menu li:hover{
	font-weight:bold;
}
.nav-search-select select{
	border: 0;
	height: 25px;
	font-size: 15px;
	float: left;
	width: 70px;
}
.nav-search{
	border-bottom:1px solid #cccccc;
	height:30px;
	width:300px;
	float: left;
	margin-top: 32px;
	margin-left: 70px;
}
.nav-search-text input{
	border: 0;
    height: 25px;
  line-height: 25px;
  width: 200px;
  float: left;
}
.nav-search-button input{
	border: 0;
	float: left;
	height: 25px;
	width:30px;
	background-image: url(../public/img/搜索图标5.jpg);
	background-position: 50%;
	cursor: pointer;
}
.nav-search-button input:hover{
	background-image: url(../public/img/搜索图标3.jpg);
}
.nav-else{
	float: right;
	width: 170px;
    
    height: 20px;
    margin-top: 40px;
    margin-right: 20px;
}
.nav-else p,.nav-else-quit{
	float: left;
	font-size: 15px;
}

.nav-else-quit{
	margin-left: 30px;
}
.container{
	width:80%;
	
	margin:0 auto;
	height:500px;
}
.tail{
	width: 100%;
	background: #e8e8e8;
	height: 70px;
    bottom: 0px;
    position:absolute;
}
.tail-text{
	font-family: "Microsoft Yahei";
	font-size: 18px;
	color: #cccccc;
	margin-left: 130px;
	margin-top: 20px;
}
