<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>记账程序</title>
  <script type="text/javascript" src="../public/vue.min.js"></script>
  <script type="text/javascript" src="../public/axios.min.js"></script>
  <script src="administrator.js" type="text/javascript"></script>
  <link href="administrator.css" rel="stylesheet" >

</head>
<body>
<div class="all">
  <div class="nav"><!-- 导航部分 -->
     <div class="nav-logo"><!-- 网站LOGO -->
       <a class="logo" href="#">On thin ice</a>
       
     </div><!-- nav-logo结束 -->
     <div class="nav-menu"><!-- 菜单 -->
       <ul class="menu">
         
         <li><a href="../billDetails/billDetails.html">账单详情</a></li>
         <li><a href="../administrator/administrator.html">管理员</a></li>
         <li><a href="../center/center.html">个人中心</a></li>
        </ul>
     </div><!-- nav-menu结束 -->
     <div class="nav-else"><!-- 导航部分其他信息 -->
       <a href="#">退出</a>
       <p>{{username}}</p>
       
      </div><!-- nav-else结束 -->
    <div class="nav-search"><!-- 搜索框 -->
         <div class="nav-search-select">
           <select @change="show($event)">
            <option v-for="option in options" v-bind:value="option.value" >{{ option.text }}</option>
           </select>
         </div><!-- nav-search-select结束 -->
         <div class="nav-search-text">
            <input type="text" :value="tips" @click="disappearCue()">
         </div>
         <div class="nav-search-button">
             <input type="submit" value="">
         </div>
    </div><!-- nav-search结束 -->
     
      
  </div><!-- nav结束 -->

    <div class="administrator-select">
           <select >
            <option value="all" @click="showAll()">所有账单</option>
            <option value="unfinished" @click="showUnfinished()">未清账单</option>
           </select>
    </div><!-- nav-search-select结束 -->
  
    
      <table align="center" class="table" v-show="allBill">
                <tr>
                    <th>时间</th>
                    <th>地点</th>
                    <th>类型</th>
                    <th>使用人</th>
                    <th>金额</th>
                    <th>用途</th>
                    <th>备注</th>
                    <th>状态</th>

                    <th>操作</th>
                    
                </tr>
                <tr v-cloak v-for="(lis,index) of list" align="center">
                    <td>{{lis.time}}</td>
                    <td>{{lis.place}}</td>
                    <td>{{lis.type}}</td>
                    <td>{{lis.user}}</td>
                    <td>{{lis.money}}</td>
                    <td>{{lis.purpose}}</td>
                    <td>{{lis.remark}}</td>
                    <td>{{lis.state}}</td>
                    
                    <td><input type="button" value="编辑" class="table-button-edit" @click="showOverlay(index)">| <input type="button" value="删除" class="table-button-delete" @click="del(index)"></td>
                </tr>
        </table> 
        <table align="center" class="table" v-show="unfinishedBill">
                <tr>
                    <th>时间</th>
                    <th>地点</th>
                    <th>类型</th>
                    <th>使用人</th>
                    <th>金额</th>
                    <th>用途</th>
                    <th>备注</th>
                    <th>状态</th>
                    <th>操作</th>
                </tr>     
                <tr v-cloak v-for="(lis,index) of list" align="center" v-if="lis.stateNum===0">
                    <td >{{lis.time}}</td>
                    <td >{{lis.place}}</td>
                    <td>{{lis.type}}</td>
                    <td >{{lis.user}}</td>
                    <td >{{lis.money}}</td>
                    <td >{{lis.purpose}}</td>
                    <td >{{lis.remark}}</td>
                    <td >{{lis.state}}</td>
                    <td ><input type="button" value="编辑" class="table-button-edit" @click="showOverlay(index)">| <input type="button" value="删除" class="table-button-delete" @click="del(index)"></td>
                </tr>
      </table>
    
 <div class="overlay" v-show="isActive">
                        <div class="con">
                        <h2 class="title">添加|修改</h2>
                        <div class="content">
                        <table>
                        <tr>
                        <td>时间</td>
                        <td><input type="text" v-model="sTime" :value="sTime"></td>
                        </tr>
                        <tr>
                        <td>地点</td>
                        <td><input type="text" v-model="sPlace" :value="sPlace"></td>
                        </tr>
                        <tr>
                        <td>类型</td>
                        <td>
                        <select name="" id="" v-model="sType" :value="sType">
                        <option value="收入">收入</option>
                        <option value="支出">支出</option>
                        
                        </td>
                        </tr>
                        <tr>
                        <td>使用人</td>
                        
                        <td><input type="text" v-model="sUser" :value="sUser"></td>
                        
                        </tr>
                        <tr>
                        <td>金额</td>
                        
                        <td><input type="text" v-model="sMoney" :value="sMoney"></td>
                        
                        </tr>
                        <tr>
                        <td>用途</td>
                        <td><input type="text" v-model="sPurpose" :value="sPurpose"></td>
                        </tr>
                        <tr>
                        <td>备注</td>
                        <td><input type="text" v-model="sRemark" :value="sRemark"></td>
                        </tr>
                        <tr>
                        <td>状态</td>
                        <td>
                        <select name="" id="" v-model="sState" :value="sState">
                        <option value="清账">清账</option>
                        <option value="未清账">未清账</option>
                        
                        </td>
                        </tr>
                        </table>
                        <p>
                        <input type="button" @click="changeActive()" value="取消">
                        <input type="button"  @click="saveMessage()" value="保存">
                        </p>
                        </div>
                        </div>
  </div> <!-- overlay结束 -->    

 
  <div class="tail">
     <p class="tail-text">designed by Wenhui Huang</p>
  </div><!-- tail结束 -->
</div><!-- all结束 -->

</body>
</html>
